:root {
  --main-backgroundColor: #e8ecec;
  --form-width: 40vw;
  --highlight-color: #7b2cbf;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
}

.form-section {
  height: 100vh;
  min-width: var(--form-width);
  box-shadow: 1px 0px 10px rgba(54, 54, 54, 0.3); /* Right shadow */
  position: relative;
  padding-top: 20px;
}

.form-section header {
  display: flex;
  justify-content: center;
}

.cv-view {
  height: 100vh;
  min-width: calc(100vw - var(--form-width));
  background-color: var(--main-backgroundColor);
}

h1 {
  font-size: 2.1rem;
}

.highlight {
  color: var(--highlight-color);
}
