:root {
  --main-backgroundColor: #e8ecec;
  --form-width: 40vw;
  --highlight-color: #7b2cbf;
  --highlight-hover-color: #9c4edd;
  --focus-color: #f0f4fc;
  --focus-border-color: #4a90e2;
  --input-border-color: rgba(39, 40, 41, 0.6);
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.form-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: var(--form-width);
  box-shadow: 1px 0px 10px rgba(54, 54, 54, 0.3); /* Right shadow */
  position: relative;
  padding-top: 20px;
  padding: 20px;
}

.form-section header {
  display: flex;
  justify-content: center;
}

.cv-view {
  height: 100vh;
  min-width: calc(100vw - var(--form-width));
  background-color: var(--main-backgroundColor);
}

h1 {
  font-size: 2.1rem;
}

.highlight {
  color: var(--highlight-color);
}
