:root {
  --main-backgroundColor: #e0e0e0;

  --form-width: 40vw;
}

.container {
  display: flex;
  flex-direction: row;
}

.form-section {
  height: 100vh;
  width: var(--form-width);
  box-shadow: 1px 0px 10px rgba(54, 54, 54, 0.3); /* Right shadow */
  position: relative;
}

.cv-view {
  height: 100vh;
  width: calc(100vw - var(--form-width));
  background-color: var(--main-backgroundColor);
}
