.cv-view {
  background-color: var(--main-backgroundColor);
}
.cv-container {
  width: 600px;
  height: 80%;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: white;
}

.cv-heading-section {
  background-color: beige;
}

.cv-information-section {
  background-color: black;
}
