header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 7vw;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  height: 93vw;
}

input {
  width: 100%;
  padding: 6px;
  border: 1px solid gray;
  border-radius: 3px;
}

.input-container label {
  font-size: 1rem;
}

.name-input {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 13px;
}

form button {
  padding: 3px;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid gray;
  background-color: var(--highlight-color);
  color: white;
  font-weight: 600;
}

form button:hover {
  background-color: var(--highlight-hover-color);
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
  max-height: 70vw;
  padding-right: 10px;
  overflow-y: auto;
  flex-grow: 1;
}

.form-headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.headline-seperator {
  height: 1px;
  background-color: gray;
  width: 100%;
}

.heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 6px;
}

.scrollable {
  max-height: 8vw;
  overflow-y: auto;
}

.padding-right-1em {
  padding-right: 1em;
}

.padding-bottom-1em {
  padding-bottom: 1em;
}

.input-pair {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 1em;
}

textarea {
  resize: none;
}

.remove-list-style {
  list-style: none;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-grow-1 {
  flex-grow: 1;
}

.max-height-400px {
  max-height: 300px;
}

.heading-style {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 1360px) {
  .input-pair {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;
  }
}

@media (max-width: 1360px) {
  .input-pair {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;
  }

  .form-input-container {
    display: flex;
    flex-direction: column;
    gap: 13px;
    max-height: 70vw;
    padding-right: 10px;
    overflow-y: auto;
  }

  .scrollable {
    max-height: 15vw;
    overflow-y: auto;
  }
}
